@import 'tailwindcss';
@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

:root {
  --primary: hsl(115, 40%, 42%);
  --primary-foreground: hsl(0, 0%, 100%);
  --primary-gradient: linear-gradient(#97e851, #479440);
  --background: hsl(0, 0%, 9%);
  --foreground: hsl(0, 0%, 100%);
  --secondary: hsla(0, 0%, 100%, 0.2);
  --secondary-foreground: hsl(0, 0%, 100%);
  --destructive: hsl(0, 100%, 50%);
  --destructive-foreground: red;
  --border: hsl(0, 0, 90%);
  --input: hsl(0, 0, 90%);
}

.heading {
  font-weight: 700;
  line-height: 1.125em;
  position: relative;
  text-align: center;
  text-shadow: 0 0.125rem 0.5rem black;
  text-transform: uppercase;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
}

@layer base {
  * {
    @apply border-border outline-border/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
  }
}
