@import 'tailwindcss';

@theme {
  --font-sans: var(--font-sans);
}

:root {
  --primary: hsl(115, 40%, 42%);
  --primary-gradient: linear-gradient(#97e851, #479440);
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-gradient: var(--primary-gradient);
}

body {
  font-family: var(--font-sans);
}

.heading {
  font-weight: 700;
  line-height: 1.125em;
  position: relative;
  text-align: center;
  text-shadow: 0 0.125rem 0.5rem black;
  text-transform: uppercase;
  text-wrap: nowrap;
}
